nav
{
    background-color: black;
    border: 2px solid white;
}

nav ul
{
    text-align: center;
    font-size: 1.2em; 
}

nav ul li
{
    list-style-type: none;
    display: inline;
}

nav ul li a
{
    color: white;
    text-decoration: none;
}

nav
{
    padding: 3px;
}

nav ul li:nth-child(1) a{
    
    padding: 15px;
    margin: 5px;
    border: 2px solid red;
    border-radius: 10px;
}

nav ul li:nth-child(1):hover a{
    background-color: red;
}


nav ul li:nth-child(2) a{
    
    padding: 15px;
    margin: 5px;
    border: 2px solid #edd72f;
    border-radius: 10px;
}

nav ul li:nth-child(2):hover a{
    background-color: #edd72f;
}


nav ul li:nth-child(3) a{
    
    padding: 15px;
    margin: 5px;
    border: 2px solid #aa21db;
    border-radius: 10px;
}

nav ul li:nth-child(3):hover a{
    background-color: #aa21db;
}

nav ul li:nth-child(4) a{
    
    padding: 15px;
    margin: 5px;
    border: 2px solid grey;
    border-radius: 10px;
}

nav ul li:nth-child(4):hover a{
    background-color: grey;
}


#activeh {
    background-color: red;
}

#activea {
    background-color: #edd72f;
}

#activeu {
    background-color: #aa21db;
}

#activec {
    background-color: grey;
}





body
{
    background-color: black;
    font-family: TimesNewRoman;
    color: white;
}

header{
    padding: 15px;
    text-align: center;
}

.logo {
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 130px;   
}

.logo2 {
    float: right;
    width: 90px;
    height: 90px;
    border-radius: 130px;   
}

span{ 
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.5);
}

footer {
    color: white;
    clear: both;
    border: 2px solid white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    height: 50px;
    background-color: black;
    text-align: center;
    
    
}

footer ul li{
    list-style-type: none;
    color: white;
    display: inline;
    padding: 15px;  
}

footer ul li a{
    text-decoration: none;
    color: white;
}

.padleft {
    padding-left: 10px;
}



ol {
    padding-left: 345px;
    list-style: none; counter-reset: li;
}

ol li::before {
    content: counter(li) "."; color: #edd72f;
  display: inline-block; width: 1em;
  margin-left: -1em
}

li {counter-increment: li}

#AvivaSection {
    height:1455px;border:2px solid #edd72f;margin-top: 20px;background-attachment: scroll;background-size: cover;
}

#UnlikeSection {
        height: inherit;border:2px solid #aa21db;margin-top: 20px;background-attachment: scroll;background-size: cover;

}

table{
    margin: 20px;
    width: 640px;
    height: 360px;
}
table tr th {
    color: white
}
